*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url(bg1.jpg);
   background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}
.logo{
    width: 150px;
    height: auto;
}

.page{
    width: 1000px;
    height: auto;
    position: relative;
    margin: 6% auto;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    padding: 5px;
    z-index: 1;
}
.page h1{
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}
.page h2{
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}
.page pre{
    color: rgb(186, 186, 186);
}
.page p{
    color: rgb(186, 186, 186);
}
